.prof-button {
    width: 6rem;
    height: 1.5rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    background-color: inherit;
}

.prof-button:hover {
    background-color: lightgrey;
}

body.dark-mode .prof-button {
    background-color: darkgray;
}
body.dark-mode .prof-button:hover {
    background-color: gray;
}